{% load static %}
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <!--*******************BOOTSTRAP********************************-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>


  <!--*******************NAVBAR********************************-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>






<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
<style>

.navbar
{
  border: 0;
  font-family: 'Bungee Inline', cursive;
  color: white;
}


</style>

<title> {{ car.name }} - BlackGarage </title>
</head>

<body style="padding-top:80px;">
	<!--*******************NAVBAR********************************-->


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BLACK GARAGE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/car/">Find Your Car</a></li>
          <li><a href="/car/compare/">Compare</a></li>
          <li><a href="/car/about/">Contact</a></li>
          <li><a href="/car/guide/">Buying Guide</a></li>
          <li><a href="/car/emi/">EMI Calculator</a></li>
          <li><a href="/car/carcost/">Car Cost Calculator</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>


      </div>
    </div>
  </nav>
<div class="container">
<div class="row" style="padding:50px;">

<div class="col-sm-4" id="itembox">
<center>
<img src="{{car.imageUrl}}" width="100%">
</center>
</div>
<div class="col-sm-8" style="padding-left:50px;">
<h3>{{ car.name }}</h3>
<h4> <b>Price: </b>{{ car.Price }}</h4>
<br>
{{ car.description }}
<br><br>
<b>
	<div class="row">
		<div class="col-sm-3">
			Mileage<br>{{ car.mileage }}
		</div>
<div class="col-sm-3">
	Manufacturer<br> {{ car.Manufacturer }}
</div>
<div class="col-sm-3">
	Horse Power<br> {{ car.power }}Bhp

</div>
<div class="col-sm-3">
	Engine<br>{{ car.engine }}L

</div>

</div>
</b>
</div>
</div>
<div class="row" style="padding:50px;background-color:grey;">
<div class="col-sm-6">
     <h3 style="color:white;">{{ car.name }} Video Review</h3>
    <a href="{{ car.youtubeurl }}">
<img src = "http://www.mercanticosanlorenzello.it/wp-content/uploads/2013/12/play.jpg" width="80%"></a>

</div>
<div class="col-sm-6">
<center>
    <br>
    <img src="https://www.bankbazaar.com/images/india/infographic/calculate-your-loan-repayment.png" width="40%"><br>
    <h4></h4>
    <a href="/car/emi/">
      <button type="button" class="btn btn-primary">EMI Calculator</button></a>
       <a href="/car/carcost/">
      <button type="button" class="btn btn-primary">Car Expense Calculator</button></a>
</center>
</div>

</div>

</div>
</div>






</body>


</html>
