<html>

<body>
<table>
Name	{{ car1.name }}<br/>
Slug	{{ car1.slug }}<br/>
Created	{{ car1.created }}<br/>
Last_updated	{{ car1.last_updated }}<br/>
Manufacturer	{{ car1.Manufacturer }}<br/>
Price	{{ car1.Price }}<br/>
Mileage	{{ car1.mileage }}<br/>
Engine	{{ car1.engine }}<br/>
Power	{{ car1.power }}<br/>

Description	{{ car1.description }}<br/>
	<a href="{{ car1.cardheko }}">cardheko</a><br/>
	<a href="{{ car1.cartrade }}">cartrade</a><br/>
youtubeurl	{{ car1.youtubeurl }}<br/>
imageUrl:<img src="{{car1.imageUrl}}"><br/>
<table>

<br><br><br><br><br><br><br>


<table>
Name	{{ car2.name }}<br/>
Slug	{{ car2.slug }}<br/>
Created	{{ car2.created }}<br/>
Last_updated	{{ car2.last_updated }}<br/>
Manufacturer	{{ car2.Manufacturer }}<br/>
Price	{{ car2.Price }}<br/>
Mileage	{{ car2.mileage }}<br/>
Engine	{{ car2.engine }}<br/>
Power	{{ car2.power }}<br/>

Description	{{ car2.description }}<br/>
	<a href="{{ car2.cardheko }}">cardheko</a><br/>
	<a href="{{ car2.cartrade }}">cartrade</a><br/>
youtubeurl	{{ car2.youtubeurl }}<br/>
imageUrl:<img src="{{car2.imageUrl}}"><br/>
<table>
</body>
</html>
