<head>


	<link rel="stylesheet" href="style.css">
	<script> src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="custom.js"></script>


	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	  <!-- Optional theme -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	  <!-- Latest compiled and minified JavaScript -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">


</head>




<! -- Compare Car 1 -->

<h1> Car 1 Selected is  </h1>
<h2> <a href = "/car/carname/{{ select.id }}/"> {{ select.name }} </a> </h2>





<h1> Compare </h1>
 
<h2> Select first Car to compare </h2>





{{ cars.carName }}
 {% for car in cars %}
<div class="col-sm-3" id="itembox">
<center>
<img src="{{car.imageUrl}}" class="img-responsive" >
<h3>{{ car.name }}</h3>
<a href = "/car/compare/{{ select.id }}/{{ car.id }}/"> compare with {{ select.name }} </a>
<h4> <b>Price: </b>{{ car.Price }}</h4>
</center></div>
  {% endfor %}


