<html>
<head>
	<script> src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="custom.js"></script>


	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	  <!-- Optional theme -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	  <!-- Latest compiled and minified JavaScript -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

		<style>
		.boxshadowout {
		   -moz-box-shadow:     0 0 10px #000000;
		   -webkit-box-shadow:  0 0 10px #000000;
		   box-shadow:          0 0 10px #000000;
		}
		.bottom-inshadow
		{
		    box-shadow: inset 0 -7px 9px -7px #000000;


		    }

				.navbar
				{
				  border: 0;
				  font-family: 'Bungee Inline', cursive;
				  color: white;
				}

		</style>





</head>

<body style="padding-top:100px;">
	<nav class="navbar navbar-inverse navbar-fixed-top boxshadowout">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">BLACK GARAGE</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/car/">Find Your Car</a></li>
					<li class="active"><a href="/car/compare/">Compare</a></li>
					<li><a href="/car/about/">Contact</a></li>
					<li><a href="/car/guide/">Buying Guide</a></li>
				</ul>


			</div>
		</div>
	</nav>

<div class="container">
<! -- Compare Car 1 -->
<center>
	<h1> Compare </h1>

	<div class="well" style="width:20%;">
<a href = "/car/compare/"><span class="glyphicon glyphicon-remove"></span>{{ select.name }} </a></div>
<h2> Select second car </h2>


</center>


{{ cars.carName }}
 {% for car in cars %}
 <div class="col-sm-4" style="padding:20px;" >
 	 <div class="boxshadowout" style="border: 1px solid #141212;">
 		 <center>
 <div class="bottom-inshadow" style="padding:10px;"> <img src="{{car.imageUrl}}" height="150px"></div>
 <div style="background-color: #141212;color:white;margin:0;padding:10px;">
 <h4><b>{{ car.name }}</b></h4>
 <h4>
 <a href = "/car/compare/{{ select.id }}/{{ car.id }}/"><button type="button" class="btn btn-success">Compare With<br></button></a><br><br>
{{ select.name }}
 </h4></div>
 </center>
 </div>
 	 </div>
  {% endfor %}
</div>
</body>
</html>
